{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">


    <title>{% block title %}Study Tool{% endblock %}</title>

    {% bootstrap_css %}
    {% bootstrap_jquery %}
    {% bootstrap_javascript %}

    <link rel="stylesheet" type="text/css" href="{% static 'study/base.css' %}"/>

</head>

<body>

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="#">Study Tool</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>

    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'study:dashboard' %}">Dashboard</a>
                </li>

            {% else %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'study:index' %}">Home</a>
                </li>

            {% endif %}

        </ul>

        <ul class="navbar-nav ml-auto">

            {% if user.is_authenticated %}

                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" href="#" id="navbarAccountDropdownLink"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        {{ user.first_name }} {{ user.last_name }}
                    </a>

                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarAccountDropdownLink">
                        <a class="dropdown-item" href="{% url 'study:login' %}">Logout</a>
                    </div>

                </li>

            {% else %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'study:login' %}">Login</a>
                </li>

            {% endif %}

        </ul>

    </div>

</nav>

<div class="{% block container-class %}container{% endblock %}">

    {% block content %}
    {% endblock %}

</div>

</body>

</html>