{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>{% block title %}Study Tool{% endblock %}</title>

    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    {% bootstrap_css %}

    <link rel="stylesheet" type="text/css" href="{% static 'study/base.css' %}"/>

</head>

<body>

<nav class="navbar navbar-dark bg-primary fixed-top navbar-expand-lg">

    <a class="navbar-brand" href="{% url 'study:index' %}">Study Tool</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>

    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav ml-auto">

            <li class="nav-item">
                <a class="nav-link" href="{% url 'study:login' %}">Login</a>
            </li>

        </ul>

    </div>

</nav>

<div class="container">

    {% block content %}
    {% endblock %}

</div>

{# BOOTSTRAP JAVASCRIPT #}

{% bootstrap_jquery %}
{% bootstrap_javascript %}

<script>
    $('body').bootstrapMaterialDesign();
</script>

</body>

</html>