{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}"/>

    <title>{% block title %}Study Tool{% endblock %}</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    {% bootstrap_css %}

    <link rel="stylesheet" type="text/css" href="{% static 'study/base_user.css' %}"/>

</head>

<body>

<div class="bmd-layout-container bmd-drawer-f-l bmd-drawer-in">

    <div id="dw-s1" class="bmd-layout-drawer bg-faded">

        <h6 class="mb-0 ml-4 mt-4">Navigation</h6>
        <div class="list-group">
            <a class="list-group-item list-group-item-action" href="{% url 'study:dashboard:index' %}">
                Dashboard
            </a>
            <a class="list-group-item list-group-item-action" href="{% url 'study:dashboard:index' %}">
                Account
            </a>
        </div>

        <h6 class="mb-0 ml-4 mt-4">My Decks</h6>
        <div class="list-group">
            {% for deck in user_decks %}
                <a class="list-group-item list-group-item-action"
                   href="{% url 'study:dashboard:deck:index' deck.id %}">{{ deck.deck_name }}</a>
            {% endfor %}
        </div>

    </div>

    <main class="bmd-layout-content">
        <div class="{% block container-class %}container-fluid{% endblock %}">

            {% block content %}
            {% endblock %}

        </div>
    </main>

</div>

<nav class="navbar navbar-dark bg-primary fixed-top navbar-expand-lg">

    <a class="navbar-brand" href="{% url 'study:dashboard:index' %}">Study Tool</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>

    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav ml-auto">

            <li class="nav-item dropdown">

                <a class="nav-link dropdown-toggle" href="#" id="navbarAccountDropdownLink"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    {{ user.first_name }} {{ user.last_name }}
                </a>

                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarAccountDropdownLink">
                    <a class="dropdown-item" href="{% url 'study:logout' %}">Logout</a>
                </div>

            </li>

        </ul>

    </div>

</nav>

{# BOOTSTRAP JAVASCRIPT #}

{% bootstrap_jquery %}
{% bootstrap_javascript %}
<script>
    $('body').bootstrapMaterialDesign();
</script>

</body>

</html>