{% extends 'study/base_user.html' %}
{% load bootstrap4 %}

{% block title %}New Deck - Study Tool{% endblock %}

{% block content %}

    <h1 class="display-1">{{ deck.deck_name }}</h1>

    <hr>

    <h1>Cards</h1>

    {% for card in deck.card_set.all %}
        <div class="card mb-2">
            <div class="card-body row">
                <div class="col-md-3">
                    <p class="mb-0">{{ card.term }}</p>
                </div>
                <div class="col-md-9">
                    <p class="mb-0">{{ card.definition }}</p>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}