{% extends 'study/base.html' %}
{% load bootstrap4 %}

{% block content %}
    <h1>Quill</h1>
    <p>
        Studying for vocabulary tests has always been a hassle. Existing platforms are never sufficient, making you
        waste time remembering exact wordings of definitions you already know, and leaving less time for the words you
        need to learn. We, the creators of Quill, recognized this issue and quickly responded to create a revolutionary
        platform to change the way of test preparation.
    </p>
{% endblock %}